.construction {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
 height: 100px;
 width: 300px;
 margin: 0 auto;
 text-align: center;
}

.headerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: double;
  background-color: #baaba3;
  border-color: #47413e;
}
