@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade-in-class {
    animation-name: fade-in;
    animation-duration: 2s;
}

.fade-in-class-long {
    animation-name: fade-in;
    animation-duration: 10s;
}

.top-banner {
    padding-top: 15%;
}

.main {
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 25%;
    height: auto;
}

span {
    padding-top: 1px;
    font-size: xx-small;
}

#second, #why, #third, #joe, #four, #no, #five,
#six, #no3, #no2 {
    display: none;
}
