* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 1em;
}
h3.name, h2.name {
  text-align: center;
}
h3.expr {
  text-align: center;
  font-weight: lighter;
}
h4 {
  font-weight: lighter;
}
div.body-begin {
  border-bottom: solid;
}
#result {
  margin: 1em;
}
ul.front {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul {
  list-style-type: none;
  margin: 1em;
  padding: 0;
  overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
body {
  margin: 0;
}
