@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

html {
  font-family: "Time New Roman", Times, serif;
}

body {
  background-color: #525f72;
  padding-left: 500px;
  padding-right: 500px;
  padding-bottom: 500px;
}

div.center {
  color: white;
}

a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    margin-right: 50px;
    margin-left: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: black;
}

div.links {
  padding: 20px;
}

h3.top {
  color: white;
  font-weight: lighter;
  animation-name: fadeIn;
  animation-duration: 3s;
  border-bottom-style: dotted;
  border-bottom-color: inherit;
}
